<div class="container mt-4">
  <div class="input-group mb-3">
    <input [(ngModel)]="searchQuery" type="text" class="form-control" placeholder="Search book title" (keyup.enter)="searchBooks()">
    <input [(ngModel)]="searchAuthor" type="text" class="form-control" placeholder="Search author" (keyup.enter)="searchBooks()">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="searchBooks()">Search</button>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let book of books" class="col-md-4 mb-4">
      <div class="card" style="height: 100%;">
        <img [src]="book.volumeInfo.imageLinks.thumbnail" class="card-img-top" alt="{{ book.volumeInfo.title }}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ book.volumeInfo.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Authors: {{ book.volumeInfo.authors.join(', ') }}</h6>
          <p class="card-text">{{ book.volumeInfo.description | slice:0:100 }}...</p>
          <a [href]="book.volumeInfo.infoLink" class="btn btn-primary mt-auto" target="_blank">More Info</a>
          <button class="btn btn-success mt-2" (click)="openModal(book)">Add to Favorites</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookModalLabel">Add to Favorites</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex my-2">
          <input [(ngModel)]="rating" type="number" min="0" max="5" step="1" placeholder="Rate (0-5)" class="form-control w-25 me-2">
          <input [(ngModel)]="mydescibre" type="text" placeholder="Digite sua avaliação" class="form-control">
          <select [(ngModel)]="mytags" class="form-select">
            <option selected>Escolha uma tag</option>
            <option value="ficcao">Ficção</option>
            <option value="fantasia">Fantasia</option>
            <option value="suspense">Suspense</option>
            <option value="biografia">Biografia</option>
            <option value="romance">Romance</option>
            <option value="historico">Histórico</option>
            <option value="scifi">Sci-Fi</option>
            <option value="terror">Terror</option>
            <option value="aventura">Aventura</option>
            <option value="mistério">Mistério</option>
            <option value="classico">Clássico</option>
            <option value="autoajuda">Autoajuda</option>
            <option value="religiao">Religião</option>
            <option value="policial">Policial</option>
            <option value="jovem-adulto">Jovem Adulto</option>
            <option value="humor">Humor</option>
            <option value="drama">Drama</option>
            <option value="ensaios">Ensaios</option>
            <option value="literatura-infantil">Literatura Infantil</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addFavorite()">Save changes</button>
      </div>
    </div>
  </div>
</div>
